//Media-queries
$desktop: 1200px;
$laptop: 960px;
$tablets: 768px;
$phone: 640px;

//Fonts-family
$font-family-main: "Montserrat", sans-serif;
$font-family-DrukWide: "Druk Wide", sans-serif;

//Fonts-setting
$font-weight-main: normal;
$font-size-main: 15px;
$line-height-main: 1.5;

//Colors
$color-main: #fff;
$color-violet: #7353F0;
